@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: black;
}

@layer components {
  .bg-dark-radial-right {
    background-image: radial-gradient(
      circle at right,
      rgb(10, 36, 18),
      black,
      black
    );
  }
}

@layer utilities {
  /* For Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* For IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom Transparent Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Transparent track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
  }

  /* Semi-transparent thumb */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
    border-radius: 9999px;
    transition: background 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4); /* White with 40% opacity on hover */
  }

  /* Hide arrows/buttons */
  ::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.116) transparent;
  }

  /* Firefox hover state */
  *:hover {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.scroll {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
